appdirs==1.4.3
boto==2.46.1
certifi==2015.4.28
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.9
django-datatables-view==1.14.0
django-storages==1.5.2
googlemaps==2.5.0
gunicorn==19.7.1
idna==2.5
olefile==0.44
packaging==16.8
Pillow==4.1.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.3
requests==2.17.3
simplejson==3.10.0
six==1.10.0
urllib3==1.21.1
